<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mobile.css">
    <title>Mobile_spoiler</title>
</head>

<body>
    <section>
        <div class="container">
            <!-- <div class="mobile">
                <img src="./mobileImg/How we work mobile Spoiler.svg" alt="Spoiler">
            </div> -->
            <div class="mobile__title">
                <h2>КАК МЫ РАБОТАЕМ НАД <br> ВАШИМ ПРОЕКТОМ</h2>
            </div>
            <div class="mobile__img">
                <img src="./mobileImg/Group 2.svg" alt="Group">
            </div>
            <div>
                <img class="mobile__img__item" src="./mobileImg/Vector.svg" alt="Vector">
            </div>
            <div class="mobile__text">
                <p>Подключите один из надежных сервисов:<br> Яндекс.Деньги, Яндекс.Касса, PayPal,<br> Robokassa или
                    Stripe, и
                    ваши покупатели <br>смогут безопасно оплатить товар или услугу<br> картой Visa или Mastercard,
                    Яндекс.Деньгами,<br> со счета мобильного телефона, через <br>Сбербанк Онлайн или Альфа Клик.</p>
            </div>
            <div>
                <img class="mobile__img__items" src="./mobileImg/Group 8.svg" alt="Group">
            </div>
        </div>
    </section>

</body>

</html>