<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Modal_e_commerce</title>
</head>

<body>
    <div class="container">
        <div class="general">

            <div class="general_placeholder">
                <img class="general_placeholder_img" src="./image/Cards.svg" alt="Cards">
            </div>
        </div>
        <div class="main-modal">
            <div class="inner-modal">
                <div class="close">
                    <button class="btn-close">X</button>
                </div>
                <div class="inner-modal__text">

                    <h2>
                        Принимайте платежи картой, с помощью<br>
                        удобных платежных систем!
                    </h2>
                    <p class="inner-modal__p">
                        Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe,
                        и
                        ваши покупатели смогут безопасно оплатить товар или услугу картой Visa или Mastercard,
                        Яндекс.Деньгами, со счета мобильного телефона, через Сбербанк Онлайн или Альфа Клик.
                    </p>

                </div>
            </div>

        </div>
    </div>


</body>

</html>