<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./phone.css">
    <title>Features Img</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="phone_page">

                <div class="phone__frame">
                    <div class="phone__item">
                        <img class="phone__item__img img1" src="./img/Phone Frame.svg" alt="Phone Frame">
                    </div>
                    <div class="phone__items">
                        <img class="phone__items__img items__img1" src="./img/Mockup ui.svg" alt="Mockup">
                    </div>
                </div>
                <div class="phone__frame2">
                    <div class="phone__item2">
                        <img class="phone__item__img img2" src="./img/Phone Frame.svg" alt="Phone Frame">
                    </div>
                    <div class="phone__items2">
                        <img class="phone__items__img items__img2" src="./img/Secure.svg" alt="Secure">
                    </div>
                </div>
                <div class="phone__frame3">
                    <div class="phone__item3">
                        <img class="phone__item__img img3" src="./img/Phone Frame.svg" alt="Phone Frame">
                    </div>
                    <div class="phone__items3">
                        <img class="phone__items__img items__img3" src="./img/Group 2.svg" alt="Group">
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>